.error-content{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-1;

    h1{
        
        font-weight: 700;
        font-size: 96px;
        line-height: 142.6%;
        margin-top: 150px;
    }

    h2{
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        text-align: center;
    }

    p{
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;
        margin-top: 130px;
        margin-bottom: 200px;
    }

    a:visited{
        color: $color-1;
    }
}

@media screen and (min-width : 768px) {

    .error-content{
        h1{
            font-size: 280px;
        }
        
        h2{
            font-size: 36px;

            br{
                display: none;
            }
        }

        p{
            font-size: 18px;
        }
    }
}