.host{
    display: flex;
    

    p{
        width : min-content;
        font-size: 14px;
        color: $color-1;
    }

    img{
        Width:32px;
        Height:32px;
        margin-left: 11px;
        border-radius: 30px;
        background: #C4C4C4;
    }
}

.host-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px
    
}

@media screen and (min-width: 768px) {
    .host{
        p{
            font-size : 18px;
        }

        img{
            width: 64px;
            height: 64px;
        }
    }

    .host-rate{
        margin: 0;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .desktop-position{
        align-items: flex-start;
        justify-content: space-between;
    }
}