
.title{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin-bottom: 5px;
    color: $color-1;
}

.location{
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    color: $color-1;
}
