.logo{
        height: 47px;
        width: 145px;

    img{
        height: 100%;
        width:  100%;

    }

}

@media screen and (min-width : 768px) {
    .logo{
        height: 68px;
        width: 210px;

        img{
            height: 100%;
            width: 100%;
        }
    }
}